[submodule "src/ofswitch13"]
	path = src/ofswitch13
	url = git@github.com:ljerezchaves/ofswitch13.git
	branch = develop
[submodule "ofsoftswitch13-gtp"]
	path = ofsoftswitch13-gtp
	url = git@github.com:ljerezchaves/ofsoftswitch13
	branch = ns3lib-gtpu
